<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {{#empty(urls)}}
    {{/empty(urls)}}
    {{^empty(urls)}}
    {{#context.pages}}
    <url>
        <loc>{{permalink}}</loc>
        <lastmod>{{lastUpdate.formats.sitemap}}</lastmod>
    </url>
    {{/context.pages}}
    {{/empty(urls)}}
</urlset>